.profile__edit-button {
    border: 0;
    background-color: black;
    padding: 0;
    height: 24px;
    width: 24px;
    align-self: flex-end;
    background-image: url(../../../images/editButton.svg);
    background-size: cover;
    margin-left: 18px;
    margin-right: auto;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .profile__edit-button {
        height: 19px;
        width: 19px;
        margin-left: 10px;
    }
}