.page {
    padding: 45px 0 0 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1280px;
}

@media screen and (max-width: 1680px) {
    .page {
        width: 68.75%;
    }
}

@media screen and (max-width: 550px) {
    .page {
        width: 88%;
        padding-top: 27px;
    }
}