.elements__image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    height: calc((880px - 17px - 17px) / 3);
}

.elements__image:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 845px) {
    .elements__image {
        height: calc((581px - 17px) / 2);
    }
}

@media screen and (max-width: 550px) {
    .elements__image {
        height: calc(100vw - 38px);
    }
}