.elements {
    display: grid;
    padding-top: 50px;
    gap: 20px 17px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (min-width: 1200px) {
    .elements {
        grid-template-columns: repeat(3, minmax(288px, 1fr));
    }
}