.profile__add-button-image {
    width: 150px;
    height: 50px;
}

@media screen and (max-width: 900px) {
    .profile__add-button-image {
        width: 100px;
        height: 33px;
    }
}

@media screen and (max-width: 900px) {
    .profile__add-button-image {
        width: 100%;
        height: 33px;
    }
}