.profile__info {
    width: 336px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    align-self: center;
}

@media screen and (max-width: 900px) {
    .profile__info {
        width: 218px;
    }
}

@media screen and (max-width: 550px) {
    .profile__info {
        margin-left: 0;
    }
}