.elements__element {
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 282px;
}

@media screen and (max-width: 550px) {
    .elements__element {
        max-width: 550px;
    }
}