.popup {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    cursor: pointer;
    z-index: 2;
}